<div class="container-fluid, content">
  <div id="aboutPhoto" class="col-md-6">
    <img src="img/johnPit.jpg" alt="John Beckius in a hole.">
  </div>
  <div class="col-md-4" id="aboutText">
    <h3>What can I say?</h3>
    <p>
      Born in Minnesota, lived three different places in Illinois, 5 years in Detroit,
      high school in South Korea, University in Wyoming and New Zealand,
      Colorado and California for a bit, now back in Detroit.
      I'd like to say it's full circle, but there's a little extra bit hanging off there so it's really more of a balloon.
    </p>
    <p>
      I've been walking only slightly longer than I could read, writing for only mildly shorter than I could walk.
      If you blended me up and analyzed my base components, it would be a little bit of everything and a whole lot of words.
      And I toss 'em 'bout passing fair.
    </p>
    <br />
    <p>I have experience in:
      <!-- An unordered list. Please forgive me. -->
      <ul>
        <li>Copywriting</li>
        <li>Advertising Strategy</li>
        <li>SEO</li>
        <li>Front-End Web Development</li>
        <li>Experimental Research Design</li>
      </ul>
    </p>
    <br />
    <p>
      Writing is so much more than the stringing together of pretty words.
      It requires vision mixed with a vivid imagination. A knack for brevity.
      Thorough appreciation of the eloquence and grace that drive our language to the heights of its beauty.
    </p>
    <p>
      And a feel for when a good visual can do all the work.
    </p>

    <!-- Behold, an external link -->
    <p>Check <a href="https://www.behance.net/JBeckius" target="_blank">here</a> for my old baby site.</p>
    <div style="height, 500px">
    </div>
  </div>
</div>
