/*Imported Font*/
@font-face {
    font-family: 'intro_head_rbase';
    src: url('../fonts/introheadr_base_macroman/introheadr-base-webfont.eot');
    src: url('../fonts/introheadr_base_macroman/introheadr-base-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/introheadr_base_macroman/introheadr-base-webfont.woff2') format('woff2'),
         url('../fonts/introheadr_base_macroman/introheadr-base-webfont.woff') format('woff'),
         url('../fonts/introheadr_base_macroman/introheadr-base-webfont.ttf') format('truetype'),
         url('../fonts/introheadr_base_macroman/introheadr-base-webfont.svg#intro_head_rbase') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	margin-left: -15px;
	padding: 0;
	text-align: center;
}

header h1 {
	display: none;
}

textarea {
	font-family: sans-serif;
	color: darkgrey;
}

nav {
	/* Might use to change nav button block width to 70%*/
}

#navBar {
	background-color: #E9E9E9;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0px;
}

#rightBar {
	float: right;
	display: inline-block;
}

button a {
	color: black;
	text-decoration: none;
}

#homeButton {
	float: left; 
	display: inline-block;
	margin-left: 2px;
	margin-top: 2px;
}

.content {
	/*margin: 70px auto;*/
	width: 70%;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#indexContent h1{
	font-family: intro_head_rbase;
	font-size: 60px;
}

.content #memories {
	 font-size: 16px;
 }
 
#crossfade {
	position: center;
	height: 50px;
}

/* I hope you'll accept this as my opacity alteration, even though it's not a background.*/
#crossfade img {
	position: absolute;
	height: 45px;
	opacity: 1;
	-webkit-transition: opacity 0.05s ease-in-out; /* Safari */
	transition: opacity 0.01s ease-in-out;
}
	

.navButton {
	font-size: 16px;
	color: black;
	/* Added background-color, styled something else's opacity. */
	background-color: #E9E9E9;
	font-family: "verdana", sans-serif;
	height:50px;
	border: 1px solid #E9E9E9;
	margin-bottom: auto;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.navButton:hover {
	background-color: #CCCCCC;
	color: white;
	border: 1px solid lightgrey;
	border-radius: 2px;
}

.pageButton {
	font-size: 16 px;
	color: #efefef;
	background-color: #888888;
	/*font-family: "verdana", sans-serif;*/
	text-transform: capitalize;
	font-weight: normal;
	height: 35px;
	border: 1px none;
	border-radius: 4px;
}	
	

#crossfade img.top:hover {
	opacity: 0;
}

#imageRow {
	width: 100%;
}

#imageRow img {
	width: 200px/*10em*/;
	height: 200px/*10em*/;
	border-radius: 5%;
}

#imageRow img:hover {
	border: 2px solid black !important;
	border-radius: 5%;
}

#imageRow #BDLogo {
	/* for future use */
}
#imageRow #DBLogo {
	
}
#imageRow #NGKLogo {
	border: 1px solid #c0c0c0;
	padding: 1px;
}

blockquote {
	border-left: 0px;
}

#aboutPhoto {
	margin-right: 0px;
	padding-right: 0px;
}

#aboutPhoto img{
	float: right;
	width: 100%;
	display: block;
	margin-right: 15px;
	margin-top: 25px;
	border: 1px solid #c0c0c0;
}

#aboutText {
	margin-top: 3px;
	text-align: left;
	font-size: 16px;
	border-left: 2px solid #E9E9E9;
}

#aboutText h3 {
	font-weight: bold;
}

form {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	text-align: left;
}
