@import "bourbon";
@import "neat";
$background: blue;
// section {
//   @include outer-container;
//   header { @include span-columns(3); }
//   section { @include span-columns(9);}
//
// }
body {
  #bTest {
    color: pink;
    background-color: $background;
  }
}
