#navBar {
	background-color: blue;
	height: 40px;
	position: fixed;
	width: 100%;
	top: 0px;
}

#homeButton {
	float: left; 
	display: inline-block;
}

#content {
	margin: 70px auto;
}

.navButton {
	font-size: 15px;
	color: white;
	background-color: blue;
	font-family: "verdana", sans-serif;
	height:40px;
	border: 1px solid blue;
	margin-bottom: auto;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.navButton:hover {
	background-color: white;
	color: black;
	border: 1px solid blue;
	border-radius: 2px;
}
