<div id="indexContent" class="content">
    <h1>John Beckius</h1>
    <h2>Copywriter and Web Developer</h2>
  <!-- A row of images, soon to become links -->
  <div id="imageRow">
    <img id="NGKLogo" class="imgSquare" src="img/NGK/NGKThumbnail.jpg" alt="NGK Sparkplug Logo">
    <img id="OCLogo" class="imgSquare" src="img/owensCorning/OCLogo200.png" alt="Owens Corning Logo">
    <img id="BDLogo" class="imgSquare" src="img/blackDiamond/bdSilhouetteLogo.png" alt="Black Diamond Logo">
    <img id="DBLogo" class="imgSquare" src="img/deepBlue/deepBlueLogoClean.png" alt="Deep Blue Watches Logo">
  </div>

  <!-- Added Block Quote -->
  <!-- <blockquote cite="https://en.wikiquote.org/wiki/Publilius_Syrus">
    <p>It is a bad plan that admits of no modification <br /> -Publilius Syrus, Sententiae</p>
  </blockquote> -->
</div>
