<div class="content">
  <div id="adImgRow">
      <img id="NGKLogo" src="img/NGK/NGKThumbnail.jpg" alt="NGK Sparkplug Logo">
      <img id="OCLogo" src="img/owensCorning/OCLogo200.png" alt="Owens Corning Logo">
      <img id="BDLogo" src="img/blackDiamond/bdSilhouetteLogo.png" alt="Black Diamond Logo">
      <img id="DBLogo" src="img/deepBlue/deepBlueLogoClean.png" alt="Deep Blue Watches Logo">
  </div>
  <hr>
  <p>I am happiest when allowed to design an ad from the ground up.
    Good writing relies upon strong concept, but strong concept doesn't
    always rely upon writing. It's these crazy pictures in my head that drive
    what I do- I just differentiate between fluff and substance.</p>
  <hr>

  <div id="OC">
    <h2>Owens Corning</h2>
    <p>One crazy evening, after a company party, I helped pen the lyrics to a couple of new Owens Corning TV spots.
      <br />Definitely one of the more amusing things with which I've been involved.
    </p>
    <h3>Numero Uno</h3>
    <div id='iFrameDiv'>
      <iframe src="https://www.youtube.com/embed/cXmdXU2mr-U" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3>Numero Dos</h3>
    <audio src="assets/audio/OCInsulatorVocal.mp3" controls>
      <p>This browser does not support our audio format. But Chrome does. Think about it.</p>
    </audio>
  </div>
  <hr />
  <div id="NGK">
    <h2>NGK Spark Plugs</h2>
    <p>I helped to write and manage content for NGK's Facebook and Instagram platforms.
      As a bit of a car guy, I tried to bring as much of my passion and knowledge into the posts I wrote,
      creating content their followers could relate to.</p>
    <div id="NGKImgRow">
      <img src="img/NGK/NGKSocialFeed.jpg" alt="NGK facebook feed">
    </div>
  </div>
  <hr />
  <div id="serta">
    <h2>Serta's Counting Sheep</h2>
    <p>I didn't do much with the counting sheep, but what I did write was
      a pleasure. Probably because it involved working with the indomitable
      Ken Spera. Top of the list was writing absurd bios for a couple of the sheep
      personalities to go up on Serta's website as part of their Break Up campaign.</p>
    <img src="img/serta/countingSheep.png" data-lightbox="image-1" data-title="Counting Sheep" alt="A short bio about a sheep from the serta website">
  </div>
  <hr />
  <div id="upNorth">
    <h2>Up North Distillery</h2>
    <p>This was a little pet project of mine. Up North Distillery is a young and virile
      micro-distillery that recently opened its doors in Post Falls, ID. I lent my hand
      by writing a bunch of copy, setting up their website, and consulting on ad strategy
       and SEO.
       <br />
       If you're ever in the area, <a href="http://www.upnorthdistillery.com">check 'em out</a></p>
  </div>
  <hr />
</div>
